{% extends 'base.html'%}
{%block title%}
	<title>{{cult_name}}</title>
{%endblock%}
{%block content%}
	<div id = "header">	
	<h1 align=center margin=15> <a href="../"><img class="img-logo" src="https://scontent.fmnl10-1.fna.fbcdn.net/v/t1.15752-9/85074764_625280878016113_9191053606248251392_n.png?_nc_cat=104&_nc_eui2=AeHqZAKO15q6oW1SNy9LdcB2ZpbiItIuVGivXs0jQwE4UkBg7zXSLssoe2UtfVMLrDAWJa3YCsoRk-SLt14n8FDWJwv-hIssaePOsknGUEzzeA&_nc_oc=AQlAFM4QCxemt9REUIpvsrBF22Toq_Nk62hQLKQ2kNblenqatP6uorrKctKy4YBw61o&_nc_ht=scontent.fmnl10-1.fna&oh=386b0b10c825690396109c80818ffb13&oe=5EFE825A" alt = "hakdog" width=300px> </a></h1>	
	</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:50px">
  <a class="navbar-brand" >indigetal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" style="margin:auto;">
      <li class="nav-item" style="margin:auto; width:300px">
        <a class="nav-link" href="../ips/1">Atenean</a>
      </li>
      <li class="nav-item" style="margin:auto; width:300px">
        <a class="nav-link" href="../ips/2">Indigenous People A</a>
      </li>
      <li class="nav-item" style="margin:auto; width:300px">
        <a class="nav-link" href="../ips/3">Dumagat-Remontado</a>
      </li>
    </ul>
  </div>
</nav>

	<div> <h2 align=center margin=15> <font face="britannica"> <b> {{cult_name}} </b> </font> </h2>	</div>


	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style= "padding:100px; margin:50px; margin-bottom: 0px; padding-top:5px">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{pic1}}" class="d-block w-100" alt="...">
				
				<div class="carousel-caption d-none d-md-block">
					<h5>{{cult_name}}</h5>
					<p>{{cult_name}}</p>
				</div>
			</div>

			<div class="carousel-item">
				<img src="{{pic2}}" class="d-block w-100" alt="...">
				
				<div class="carousel-caption d-none d-md-block">
					<h5>{{cult_name}}</h5>
					<p>{{cult_name}}</p>
				</div>
			</div>

			<div class="carousel-item">
				<img src="{{pic3}}" class="d-block w-100" alt="...">
				
				<div class="carousel-caption d-none d-md-block">
					<h5>{{cult_name}}</h5>
					<p>{{cult_name}}</p>
				</div>
			</div>

		</div>
		<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div style= "padding:100px; margin:50px; margin-top:-50px">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas. Orci a scelerisque purus semper eget. Placerat vestibulum lectus mauris ultrices eros in. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Mauris in aliquam sem fringilla ut morbi. Venenatis a condimentum vitae sapien pellentesque habitant. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Tempor nec feugiat nisl pretium. Amet facilisis magna etiam tempor orci eu lobortis elementum. Et ligula ullamcorper malesuada proin libero nunc consequat interdum. Id leo in vitae turpis. Ac auctor augue mauris augue neque.</p>

	<p>Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Fermentum iaculis eu non diam phasellus vestibulum. Fermentum et sollicitudin ac orci. Amet dictum sit amet justo donec. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Aliquet lectus proin nibh nisl condimentum. Urna nunc id cursus metus. Neque convallis a cras semper auctor neque vitae. Diam quam nulla porttitor massa. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Id nibh tortor id aliquet lectus.</p>

	<p>Habitasse platea dictumst quisque sagittis purus sit amet volutpat. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Eget lorem dolor sed viverra ipsum nunc. Consectetur adipiscing elit duis tristique sollicitudin nibh. Sed velit dignissim sodales ut eu sem integer vitae justo. Vitae elementum curabitur vitae nunc. In nibh mauris cursus mattis molestie. Proin gravida hendrerit lectus a. Pulvinar elementum integer enim neque volutpat ac tincidunt. Potenti nullam ac tortor vitae purus.</p>

	<p>Dui vivamus arcu felis bibendum ut tristique. Interdum velit laoreet id donec. Scelerisque varius morbi enim nunc faucibus a pellentesque sit. Eleifend mi in nulla posuere sollicitudin aliquam. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Commodo viverra maecenas accumsan lacus vel facilisis volutpat. Libero enim sed faucibus turpis in eu mi bibendum. Ut ornare lectus sit amet est placerat in. Augue neque gravida in fermentum et sollicitudin. Quam lacus suspendisse faucibus interdum posuere. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Sem integer vitae justo eget. Enim nulla aliquet porttitor lacus luctus. Dui sapien eget mi proin sed libero enim sed. Sapien pellentesque habitant morbi tristique senectus et netus. Eleifend donec pretium vulputate sapien.</p>

	<p>Nibh nisl condimentum id venenatis. Et leo duis ut diam quam nulla porttitor. Aenean euismod elementum nisi quis eleifend. Ornare suspendisse sed nisi lacus sed viverra. Sit amet porttitor eget dolor. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Nulla facilisi morbi tempus iaculis urna id. Purus sit amet volutpat consequat mauris nunc. Dictum non consectetur a erat nam at lectus urna duis. Turpis tincidunt id aliquet risus feugiat in ante metus. Varius quam quisque id diam vel quam elementum pulvinar.</p>
	</div>
	{%block beforeprod%}
	{%endblock%}
	<div class="row" align=center>
		{% for p in products %}
		<div class="col" align=center>
			<div class="card" style="width: 500px; height: 500px" align=center>
  				<img src="{{p.image_url}}" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">{{p.name}}</h5>
   					<p class="card-text">{{p.description}} (₱{{p.price}})</p>
    				<a href="https://www.rags2riches.ph/shop-r2r" class="btn btn-primary">Add to Cart</a>
  				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{%block afterprod%}
	{%endblock%}
{% endblock %}